.btn {
	border-radius: 0px;
	padding: 42px 32px;;
}

.btn_2 {
	border-radius: 0px;
	padding: 0.50rem 8.50rem ;;

}
.txt {
    font-size: 2.1em; /* 14px/16=0.875em */
}
.size_login
{
	
	padding: 0.50rem 8.50rem ;;

}